.send-box {
  position: fixed;
  display: flex;
  margin: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.2rem 1rem;
  max-height: 6.2rem;
  background-color: vars.$blue;
  align-items: center;
  &--input {
    background-color: vars.$gray;
    border: 1px vars.$violet solid;
    padding-left: 0.8rem;
    font-size: 1.8em;
    color: vars.$blueDark;
    width: 100%;
    height: 3.8rem;
  }
  &--button {
    width: 5.5rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: vars.$violet;
    color: vars.$white;
    border: none;
    font-weight: 400;
    font-size: 4em;
  }
}
