.header {
  margin: 0;
  padding: 0 2rem;
  padding-bottom: 2em;
  background-color: vars.$blue;
  p {
    padding: 0;
    margin: 0;
  }
  &--date-number {
    font-size: 12em;
  }
  &--date-string {
    font-size: 6em;
    padding: 0;
    margin: 0;
  }
  &--month {
    padding: 0;
    margin: 0;
    font-size: 3em;
  }
}
