.task {
  background-color: vars.$blueTask;
  margin: 0.4em;
  padding: 0.6em;
  font-size: 2em;
  display: flex;
  align-items: center;

  &:hover {
    background-color: vars.$blueHover;
  }
  &-content {
    width: 100%;
  }
  &-content-done {
    width: 100%;
    text-decoration: line-through;
  }
  &-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.4rem;
    padding-left: 0.75rem;
    margin: 0;
    margin-right: 0.8rem;
    border: none;
    background-color: vars.$violet;
    font-size: 1.8em;
    color: vars.$white;
    height: 3.1rem;
    width: 3.1rem;
    cursor: pointer;
    border-radius: 50%;
  }
  &-check {
    width: 3.4rem;
    height: 3.4rem;
    margin: 0;
  }
}
